body {
	color: $blue-400;
	font-weight: 400;
	font-size: 20px;
    font-family: $roboto, sans-serif;
	line-height: 1.3;
	background-color: $gray-50;
}

.container {
	max-width: 1326px;
	margin: 0 auto;
	padding: 0 15px;

    &--big {
        max-width: 1480px;
    }
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}
