//Цвета 
$white: #ffffff;
$black: #000000;

$red-500: #d44848;

$dark-600: #474444;
$dark-700: #373a24;

$green-400: #5bb94c;
$green-500: #0d7331;

$blue-40: #dceef3;
$blue-50: #dbe7ea;
$blue-200: #74959d;
$blue-250: #64777e;
$blue-400: #215563;

$gray-50: #f1f1f1;
$gray-100: #cecece;

$yellow-30: #f2f4e7;
$yellow-40: #fffbf3;
$yellow-50: #e5e8d8;
$yellow-100: #f6f5e7;
$yellow-700: #ffb800;

$orange-20: #fef9f3;

$brown-300: #cbbeae;
$brown-600: #6f5347;
$brown-700: #543b3f;

//Текст
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$arimo: "Arimo";
$inter: "Inter";
$montserrat: "Montserrat";
$opensans: "OpenSans";
$roboto: "Roboto";
$russoone: "RussoOne";
$scada: "Scada";
