.mini-catalog {

    &__items {
        display: flex;
        margin-bottom: 50px;
    }

    &__item {
        box-shadow: 0 0 4px 1px rgba($black, 0.13);

        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__button {
        margin: 0 auto;
    }

    .mixitup-control-active {
        color: $white;
        background-color: $blue-400;
    }
}

