.mini-catalog {

}

.filters {
    display: flex;

    &__items {
        &:not(:last-child) {
            margin-right: 14px;
        }
    }

    &__btn {
        padding: 12px 40px;
        font-size: 15px;
        background-color: $blue-50;
        border-radius: 5px;
    }
}