.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 25px 18px;
    font-size: 14px;
    line-height: 1.2;
    background-color: $white;

    &__badge {
        position: absolute;
        top: 14px;
        left: 17px;
        display: inline-block;
        padding: 6px 8px;
        color: $black;
        font-weight: $fw-700;
        text-transform: uppercase;
        background-color: $yellow-700;
    }

    &__img {
        width: 100%;
        height: 188px;
        object-fit: cover;
    }

    &__figures,
    &__title,
    &__img {
        margin-bottom: 10px;
    }

    &__figures,
    &__rating,
    &__buy {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price,
    &__title {
        color: $dark-700;
    }

    &__price {
        margin-right: 5px;
        font-weight: $fw-700;
        font-size: 20px;

        &--old {
            font-weight: $fw-400;
            font-size: 15px;
            text-decoration: line-through;
        }
    }

    &__sale {
        display: inline-block;
        width: 59px;
        height: 42px;
        padding: 10px 0;
        color: $white;
        font-weight: $fw-500;
        font-size: 16px;
        text-align: center;
        background-color: $red-500;
        border-radius: 5px;
    }

    &__title {
        font-size: 15px;
    }

    &__rating,
    &__buy {
        margin-bottom: 12px;
    }

    &__stars {
        height: 24px;
        overflow: hidden;
    }

    &__sales {
        color: rgba($black, 0.37);
    }

    &__guarantee {
        color: $blue-200;
    }

    &__button,
    &__status {
        position: relative;

        &::before {
            position: absolute;
            left: 0;
            content: "";
        }
    }

    &__button {
        position: relative;
        padding-left: 29px;
        color: $red-500;

        &::before {
            top: -4px;
            width: 20px;
            height: 20px;
            background-image: url('../img/icons/cart.svg');
            filter: invert(63%) sepia(84%) saturate(5114%) hue-rotate(332deg) brightness(87%) contrast(89%);
            @include background;
        }
    }

    &__status {
        position: relative;
        padding-left: 8px;
        color: $green-500;

        &::before {
            top: 50%;
            width: 4px;
            height: 4px;
            background-color: $green-500;
            border-radius: 50%;
            transform: translateY(-50%);
        }
    }

    &__more {
        margin-top: auto;
        font-weight: $fw-600;
        font-family: $opensans;
    }

    &--small,
    &--basket {
        flex-direction: row;
        border-radius: 10px;
    }

    &--small {
        padding: 20px;
        font-weight: $fw-700;

        .product-card__img {
            width: 97px;
            height: 63px;
            margin-right: 38px;
            border-radius: 5px;
        }

        .product-card__right {
            max-width: 203px;
        }

        .product-card__info {
            display: flex;
        }

        .product-card__price,
        .product-card__count {
            font-size: 13px;
        }

        .product-card__price {
            margin-right: 11px;
            color: $blue-400;
            font-weight: $fw-500;
        }

        .product-card__count {
            color: $brown-600;
            font-weight: $fw-400;
        }
    }

    &--basket {
        justify-content: space-between;
        padding: 20px 38px;

        .product-card__left,
        .product-card__right {
            display: flex;
            align-items: center;
        }

        .product-card__left {
            max-width: 464px;
        }

        .product-card__img {
            width: 151px;
            height: 109px;
            margin-right: 28px;
            margin-bottom: 0;
            border-radius: 5px;
        }

        .product-card__figures {
            margin-bottom: 0;

            >*:not(:last-child) {
                margin-right: 11px;
            }
        }

        .product-card__sale,
        .product-card__price {
            font-weight: $fw-400;
        }

        .product-card__sale {
            width: 39px;
            height: auto;
            padding: 2px 0;
            font-size: 11px;
        }

        .product-card__price {
            color: $brown-700;
            font-size: 15px;
            line-height: 1;

            &--finish {
                margin-right: 36px;
                color: $blue-400;
                font-size: 20px;
                letter-spacing: 0.04em;
            }
        }

        .product-card__form {
            margin-right: 36px;
            max-width: 100px;
        }

        .product-card__btn {
            position: relative;
            width: 30px;
            height: 30px;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 18px;
                height: 18px;
                background-image: url('../img/icons/delete.svg');
                transform: translate(-50%, -50%);
                content: "";
                @include background;
            }
        }

        .product-card__number {
            padding: 12px 4px;
            width: auto;
            display: flex;
        }

        .jq-number {
            position: relative;

            input {
                max-width: 44px;
                border: 1px solid rgba($dark-600, 0.29);
                border-radius: 5px;
                color: inherit;
                font: inherit;
                text-align: center;
            }

            &.focused {
                .jq-number__field {
                    border: none;
                }
            }

            &__field,
            &__spin {
                border: none;
                box-shadow: none;
            }

            &__field {
                border-radius: 5px;
                width: auto;
            }

            &__spin {
                width: 30px;
                height: 44px;
                position: relative;
                background: transparent;

                &::before {
                    height: 26px;
                    width: 12px;
                    position: absolute;
                    content: "";
                    @include background;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &::after {
                    display: none;
                }
            }

            .minus {
                order: -1;
                &::before {
                    background-image: url('../img/icons/minus.svg');
                    left: 0;
                }
            }

            .plus {
                &::before {
                    right: 0;
                    background-image: url('../img/icons/plus.svg');
                }
            }
            
        }

    }
}