<footer class="footer @class">
    <h2 class="sr-only">
        Полезные ссылки
    </h2>
    <div class="container container--big">
        <div class="footer__wrapper">
            <div class="footer__left">
                <a class="logo footer__logo" href="#">
                    <img class="logo__img" src="img/logo.svg" alt="Логотип" width="170" height="82">
                </a>
                <span class="footer__copy">
                    © 2033
                    RiverBoats.online
                    Все права защищены
                </span>
            </div>

            <ul class="footer__lists">
                <li class="footer__list">
                    <h3 class="footer__title">
                        Лодки
                    </h3>
                    <ul class="footer__items">
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                C НДНД
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                C плоским дном
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                С жестким дном
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                С алюминиевым дном
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                С фальшбортами
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                РИБ
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer__list">
                    <h3 class="footer__title">
                        Аксессуары
                    </h3>
                    <ul class="footer__items">
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Тенты/Чехлы/Накладки/
                                Коврики/Сумки
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Аксессуары из фанеры
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Тролинг/Тюнинг
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Насосы/Якоря/Весла
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Спасательные жилеты
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Сумки лодочные
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Алюминиевый профиль
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Фурнитура для лодок ПВХ
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Транцевые колеса на лодку ПВХ/ Тележки для моторов
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer__list">
                    <h3 class="footer__title">
                        о магазине
                    </h3>
                    <ul class="footer__items">
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                RiverBoats
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Адреса Фабрики
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer__list">
                    <h3 class="footer__title">
                        Клиентам
                    </h3>
                    <ul class="footer__items">
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Доставка и оплата
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Гарантия качества
                            </a>
                        </li>
                        <li class="footer__item">
                            <a class="footer__link" href="#">
                                Обмен и возврат
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="footer__right">
                <h3 class="footer__title">
                    Связаться
                </h3>
                <button class="footer__call call" type="button">
                    Заказать звонок
                </button>
                <a class="footer__link footer__link--email" href="mailto:RiverBoats.online@mail.ru">
                    RiverBoats.online@mail.ru
                </a>
            </div>
        </div>
    </div>
</footer>