<header class="header">
    <div class="container container--big">
        <nav class="header__navigation">
            <div class="header__top">
                <a class="logo header__logo" href="#">
                    <img class="logo__img" src="img/logo.svg" alt="Логотип" width="170" height="82">
                </a>
                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Лодки
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Аксессуары
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            О магазине
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Клиентам
                        </a>
                    </li>
                </ul>
                <form class="search-form" action="#">
                    <label class="sr-only" for="search"> 
                        Поиск товара
                    </label>
                    <input class="search-form__input" type="search" id="search" required>
                </form>
            </div>
        </nav>
    </div>
</header>