@if (context.section === "catalog") {
<article class="product-card">
    <div class="product-card__top">
        @if (context.badge === "true") {
        <span class="product-card__badge">
            @badge-txt
        </span>
        }
        <img class="product-card__img" src="img/product/@img.jpg" alt="@alt" width="278" height="188" loading="lazy">
        <div class="product-card__figures">
            <span class="product-card__price">
                @price p.
            </span>
            @if (context.discount === "true") {
                <span class="product-card__price product-card__price--old">
                    @old p.
                </span>
                <span class="product-card__sale">
                    -@sale%
                </span>
            }
        </div>
        <h3 class="product-card__title">
            <a class="product-card__link" href="#">
                @title
            </a>
        </h3>
    </div>
    <div class="product-card__bottom">
        <div class="product-card__rating">
            <span class="product-card__stars" data-rateyo-num-stars="@rating" readonly="readonly"></span>
            <span class="product-card__sales">@sales шт. продано</span>
        </div>
        <div class="product-card__buy">
            <span class="product-card__guarantee">
                Гарантия @guarantee
            </span>
            <button class="product-card__button" type="button">
                В корзину
            </button>
        </div>
        <span class="product-card__status product-card__status--available">
            @status
        </span>
    </div>
</article>
}

@if (context.section === "recommend") {
    <article class="product-card">
        <div class="product-card__content">
            <img class="product-card__img" src="img/product/@img.jpg" alt="@alt" width="278" height="188" loading="lazy">
            <h3 class="product-card__title">
                <a class="product-card__link" href="#">
                    @title
                </a>
            </h3>
        </div>
        <a class="product-card__more" href="#">
            Подробнее
        </a>
    </article>
}

@if (context.section === "order") {
    <article class="product-card product-card--small">
        <img class="product-card__img" src="img/product/@img.jpg" alt="@alt" width="93" height="67" loading="lazy">
        <div class="product-card__right">
            <h3 class="product-card__title">
                <a class="product-card__link" href="#">
                    @title
                </a>
            </h3>
            <div class="product-card__info">
                <span class="product-card__price">
                    @price р
                </span>
                <span class="product-card__count">
                    @count шт.
                </span>
            </div>
        </div>
    </article>
}

@if (context.section === "basket") {
    <article class="product-card product-card--basket">
        <div class="product-card__left">
            <img class="product-card__img" src="img/product/@img.jpg" alt="@alt" width="151" height="109" loading="lazy">
            <div class="product-card__content">
                <h3 class="product-card__title">
                    <a class="product-card__link" href="#">
                        @title
                    </a>
                </h3>
                <div class="product-card__figures">
                    @if (context.discount === "true") {
                    <span class="product-card__sale">
                        -@sale%
                    </span>
                    <span class="product-card__price product-card__price--old">
                        @old p.
                    </span>
                    }
                    <span class="product-card__price">
                        @price p.
                    </span>
                </div>
            </div>
        </div>
        <div class="product-card__right">
            <form class="product-card__form" action="#">
                <label class="sr-only" for="product-card__num">
                    Количество товара
                </label>
                <input class="product-card__number" type="number" id="product-card__num" name="count" value="1" min="1">
            </form>
            <span class="product-card__price product-card__price--finish">
                @price p.
            </span>
            <button class="product-card__btn" type="button">
                <span class="sr-only">
                    Удалить из корзины
                </span>
            </button>
        </div>
    </article>
}
