<section class="youtube section">
    <div class="container container--big">
        <div class="title">
            <h2 class="title__headding">
                River boats
            </h2>
            <span class="title__sub">
                Лучшие в своем деле
            </span>
        </div>
        <ul class="youtube__items">
            <li class="youtube__item">
                <iframe class="youtube__video" src="https://www.youtube.com/embed/QEH1PJHLqQg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <span class="youtube__subtext">
                    Обзор на воде
                </span>
            </li>
            <li class="youtube__item">
                <iframe class="youtube__video" src="https://www.youtube.com/embed/QEH1PJHLqQg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <span class="youtube__subtext">
                   Испытание на прочность
                </span>
            </li>
        </ul>
    </div>
</section>